/* Import font  */
@font-face {
  font-family: websans;
  src: url(./assets/WorkSans-Regular.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* header */
header {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 45%;
  background: url(./assets/pexels-lisa-fotios-691858-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.7);
}
/* Navbar */
.navbar {
  display: flex;
  width: 80%;
  height: 2rem;
  align-items: center;
  color: white;
  font-family: websans;
  font-size: 1.1rem;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}
.liTags {
  display: flex;
  list-style: none;
}
.liTags a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}
.fal,
.fab {
  color: white;
  margin: 0 0.4rem;
}
.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  font-family: websans;
}
.title h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.title h4 {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.title h4 li {
  margin: 0 0 0 1rem;
}
/* Posts */
.section {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.post {
  width: calc(100% / 4);
  margin: 0 1rem;
  box-shadow: -1px 1px 134px 20px rgba(0, 0, 0, 0.17);
  font-family: websans;
  border-radius: 0.3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.firstPost {
  margin: 0 0 0 1rem;
}
.lastPost {
  margin: 0 1rem 0 0;
}
.postImage {
  width: auto;
  height: 30rem;
  position: relative;
}
.postImage img {
  width: 100%;
  height: 100%;
}
.textBox {
  width: 13rem;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(10, 10, 0, 0.6);
  border-radius: 0.2rem;
  padding: 1rem;
}
.textBox p {
  color: rgba(0, 162, 255, 0.959);
  font-size: 1.1rem;
}
.circles {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 1rem;
}
.boxShadow {
  box-sizing: 1rem 2rem 10rem #ccc;
  transform: scale(1.1);
  margin-right: 0.2rem;
}
.fa-circle {
  color: white;
}
.blur {
  opacity: 0.3;
  box-shadow: none;
}
.postDetail {
  font-size: 1.1rem;
  padding: 0 2rem;
  margin: 1rem 0;
  color: #777674;
}
.postTitle {
  font-size: 2.2rem;
  padding: 0 2rem;
  color: #262a2d;
}
.description {
  font-size: 1.1rem;
  padding: 0 2rem;
  margin: 1rem 0;
  color: #9e9e9e;
}
.break {
  display: flex;
  align-items: center;
}
.break hr {
  color: #ccc;
  width: 70%;
}
.fa-comment {
  color: #a5a5a5;
}
.comment {
  width: 5rem;
  height: 3rem;
  background-color: #f6f6f6;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1rem;
  color: #a5a5a5;
}
.hashtags {
  padding: 0 2rem;
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
  }
  .liTags {
    justify-content: center;
    flex-flow: row wrap;
    font-size: 1.1rem;
  }
  .title {
    width: 80%;
  }
  .title h1 {
    font-size: 1.5rem;
  }
  .section {
    flex-flow: column;
  }
  .post {
    width: auto;
    margin: 1rem;
  }
}
